@model BTL_DOTNET2.Models.Post
@{
    ViewData["Title"] = "Save Post";
}

<form asp-action="SavePost">
    <div class="list-group">
        <label class="list-group-item">
            <input asp-for="PostId" type="text">
            <input asp-for="IsSave" class="form-check-input me-1" type="checkbox">
            Lưu bài viết
        </label>
    </div>
    <input type="submit" value="Save">
</form>