@model BTL_DOTNET2.Models.PostContentViewModel

@{
    ViewData["Title"] = "Create";
}
<h1 class="text-center">Tạo bài viết mới</h1>
<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-outline-danger">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </a>
</div>
<hr />
<div class="row g-3">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-5">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-5">
                <label asp-for="Post.CateId" class="control-label"></label>
                <select asp-for="Post.CateId" class="form-control" asp-items="ViewBag.CateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContentPost.Paragram" class="control-label"></label>
                <textarea id="tiny" asp-for="ContentPost.Paragram" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <div class="mb-3">
                <label asp-for="ImgUrl" class="form-label">Chọn ảnh trên thiết bị này: </label>
                <input asp-for="ImgUrl" id="fileInput" class="form-control" type="file">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary form-control mt-5" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
