@model BTL_DOTNET2.Models.PostContentViewModel

@{
    ViewData["Title"] = "Chỉnh sửa comment".ToUpper();
}

<h1 class="text-center mb-5">@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContentComment.ContentCommentId" />
            <div class="form-group">
                <label asp-for="ContentComment.Paragraph" class="control-label"></label>
                <textarea id="tiny" asp-for="ContentComment.Paragraph" class="form-control"></textarea>
                <span asp-validation-for="ContentComment.Paragraph" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="ContentComment.Image" class="control-label"></label>
                <input asp-for="ContentComment.Image" class="form-control" />
                <span asp-validation-for="ContentComment.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label">Chọn hình ảnh mà bạn muốn thay đổi: </label>
                <input asp-for="ImgUrl" class="form-control" />
            </div>
            <div hidden class="form-group">
                <label asp-for="ContentComment.Video" class="control-label"></label>
                <input asp-for="ContentComment.Video" class="form-control" />
                <span asp-validation-for="ContentComment.Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUrl" class="control-label">Chọn Video mà bạn muốn thay đổi: </label>
                <input asp-for="VideoUrl" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:void(0)" onclick="goBack()">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function goBack() {
        window.history.back();
    }
</script>
