@model BTL_DOTNET2.Models.ContentPost

@{
    ViewData["Title"] = "Delete".ToUpper();
}


<div class="container mt-4 rounded-4 d-flex justify-content-center align-items-center">
    <div class="row bg-white border rounded-4 p-3 shadow box-area">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <h3 class="text-center">Bạn có chắc chắn muốn xoá post này?</h3>
        <div class="d-flex justify-content-between">
            <form asp-action="Delete" class="me-3">
                <input type="hidden" asp-for="ContentPostId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
            <a href="javascript:void(0)" onclick="goBack()">
                <button class="btn btn-outline-primary">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
            </a>
        </div>

    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>