@model BTL_DOTNET2.Models.PostContentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ContentPost</h4>
<div>
    <a href="javascript:void(0)" onclick="goBack()">Quay lại</a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContentPost.ContentPostId" />
            <div class="form-group">
                <label asp-for="ContentPost.Paragram" class="control-label"></label>
                <textarea id="tiny" asp-for="ContentPost.Paragram" class="form-control"></textarea>
                <span asp-validation-for="ContentPost.Paragram" class="text-danger"></span>
            </div>
            <div>
                <label hidden asp-for="ContentPost.Image" class="control-label"></label>
                <input hidden asp-for="ContentPost.Image" class="form-control" />
                <span asp-validation-for="ContentPost.Image" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label">Chọn hình ảnh bạn muốn sửa đổi:</label>
                <input asp-for="ImgUrl" type="file" class="form-control" />
                <span asp-validation-for="ContentPost.Image" class="text-danger"></span>
            </div>
            <div class="container">
                <img class="rounded" src="@Model?.ContentPost.Image" alt="" style="max-height: 100%; max-width: 100%;object-fit: cover;">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function goBack() {
        window.history.back();
    }
</script>
