@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-controller="Post" asp-action="Index">Nhấp vào đây để xem các bài đăng</a>.</p>
</div>
