@{
    ViewData["Title"] = "Thông tin về website";
}
<div class="row mt-5">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <p>Website này được thực hiện nhằm tạo ra một bản 
            sao chép của 
            <a href="https://stackoverflow.com/">stackoverflow</a>
            và tran web 
            <a href="https://daynhauhoc.com/">daynhauhoc</a>.</p>
    </div>
</div>